div#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a, div#hero_message h1, div#hero_message h4, div.button_box, main section {
text-align: center;
}

div#background {
    height: 725px;
}

body {
    background-color: #28251a;
}

header{
    background-color: #6f0808;
 }


nav a:hover{
    background-color: #ffd342;
    color: #f53737;
  }
nav a {
    color: #ffd342;
    text-decoration: none;
}


main {
    color: #f53737;
}
section#hero_message {
    background-color: #6f0808;
    color: #ffd342;
}

a.book {
    background-color: #f53737;
    color: #ffd342;
    text-decoration: none;
}
 a.book:hover{
    background-color: #ffd342;
    color: #f53737;
 }


a.join{
    background-color: #ffd342;
    color: #f53737;
    text-decoration: none;
}
a.join:hover {
    background-color: #f53737;
    color: #ffd342;
}


div#background {
    background-color: #ffd342;
}

section.msg {
    background-color: #ffd342;
    color: #28251a;
}

footer {
    background-color: #6f0808;
    color: #ffd342;
    font-size: 1.3em;
 }
footer a{
    color: #ffd342;
    text-decoration: none;
}
footer a:hover{
    color: #f53737;
    background-color: #ffd342;
    text-decoration: underline;
}
