section {
  width: 50%;
  border: 1px solid;
  display: block;
}

section.block1 {
margin-right: auto;
}

section.block2 {
    margin: 0 auto;
}

section.block3 {
    margin-left: auto;
}

section.block4 {
    margin: 0 auto;
}